<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title=${saus}?${saus.naam}:'Saus niet gevonden')"></head>
<body>
<header th:replace="fragments::header"></header>
<nav th:replace="fragments::menu"></nav>
<div th:if="not ${saus}" class="fout">Saus niet gevonden:
    <th:block th:text="${id}"></th:block>
</div>
<th:block th:if="${saus}" th:object="${saus}">
    <h1 th:text="*{naam}"></h1>
    <dl>
        <dt>Nummer</dt>
        <dd th:text="*{nummer}"></dd>
        <dt>Ingredienten</dt>
        <dd th:each="ingredient : *{ingredienten}"  th:text="${ingredient}"></dd>
        <dt>Afbeelding</dt>
        <dd><img th:src="@{/images/{naam}.png(naam=*{naam})}" th:alt="*{naam}"></dd>
    </dl>
</th:block>
</body>
</html>